/*#title { background: lightgray; }*/
/*#main { background: pink; }*/
/*#menu { background: lightgreen; }*/

/* mobile */
@media(max-width: 414px){
    #container{
	
        width: 100%;
        margin: 0 auto;
        border-bottom: 1px solid black;	
        display: block;
        margin:0 auto;
        
    }
   

    input{
        border-bottom: 1px solid black;	
        display: block;
        margin:0 auto;
    }
    button{

        display: block;
        margin:0 auto;
    }

    #error-message{
        display: block;
        margin:0 auto;
    }

}