
	
	
	
	
	
#title{
	font-family: 'Anton', sans-serif;
}

#posts{
	font-family: 'Lilita One', cursive;
}
#user-info{
	font-family: 'Lilita One', cursive;
}
#social{
	font-family: 'Lilita One', cursive;
}
@media(max-width: 414px){
    	
#title{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}

#posts{
	font-family: 'Lilita One', cursive;
}
#user-info{
	font-family: 'Lilita One', cursive;
}
#social{
	font-family: 'Lilita One', cursive;
}
}

@media(max-width:1024px) and (min-width:414px){#title{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}

#posts{
	font-family: 'Lilita One', cursive;
}
#user-info{
	font-family: 'Lilita One', cursive;
}
#social{
	font-family: 'Lilita One', cursive;
}}
