/*complementary color scheme(blue and orange)
  main #1786FF
  blue accents #3094FF #085AB3
  orange accents #

*/

:root{
    --main-color: #1789B3;
    --text-color:;
    --link-color:;
    --button-color:;
    --background-color:;

}

button{
    color:var(--main-color);
}